.App {
  background-color: #121212;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(to bottom, #1db954, #282c34);
  min-height: 250px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
  text-align: center;
  font-family: "Circular", sans-serif;
  font-weight: bold;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}

.App-body {
  background-color: #121212;
  height: 100%;
  min-height: 100em;
  font-family: "Circular", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.row .body-title {
  color: white;
  margin-top: 1em;
  margin-left: 2em;
}

.App-link {
  color: #61dafb;
}

.green-spotify {
  color: #1db954;
}

.text-lg {
  font-size: 4em;
}

.cursor-pointer {
  cursor: pointer;
}

.App-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.opacity-enter {
  animation: opacity-in 0.5s ease forwards;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes opacity-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.teste {
  margin-left: 20px;
}
